[submodule "ECommons"]
	path = ECommons
	url = https://github.com/jqnxokbmeoiqwncv/ECommons
	branch = Moodles
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/jqnxokbmeoiqwncv/OtterGui
	branch = Moodles
